<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 社区系统-帖子列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script type="text/javascript">
        var require = {
            config: {$config | raw
        }
        }
        ;
    </script>
</head>
<body>
<div class="layui-fluid" id="LAY-app-message-detail">
        {__CONTENT__}
    </div>
</body>
<script type="text/javascript" data-main="__STATIC__/js/require-backend.js?v={:time()}"
        src="__STATIC__/js/require.js"></script>
</html>